<%= form_with(model: todo, local: true) do |form| %>
  <%= hidden_field_tag :filter, current_filter %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
