<p id="notice"><%= notice %></p>

<h1>Todos</h1>

Filter: [
<% ['all', 'active', 'completed'].each do |filter_name| %>
  <%= link_to filter_name, todos_path(filter: filter_name) %> |
<% end %>
]

<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.completed %></td>
        <td><%= link_to "Mark #{ todo.completed ? 'incomplete' : 'complete'}", todo_path(todo, filter: current_filter, todo: { completed: !todo.completed }), method: :patch %></td>
        <td><%= link_to 'Delete', todo_path(todo, filter: current_filter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', todo: Todo.new %>

<br>

<%= link_to 'Archive completed todos', archived_todos_path(filter: current_filter), method: :post, data: { confirm: 'Are you sure?' } %>
